body{
    height: 12in;
    width: 4in;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.boxline{
    width: 80px;
}

.maincenter{
    text-align: center;
}

.fontsize{
    font-size: 18px;
}

.inputgap{
    box-shadow: white;
    border: 0;
    font-size: 16px;
}

.mainfocus{
    font-weight: bolder;
    font-size: 16px;
}




.dotgap{
    text-align: center;
}


.display{
    display: flex;
}

.undert{
    text-align: center;
}
.tokennum{
  border: 0ch;
  
    box-shadow: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.tokennum{
    width: 370px;
    height: 20px;
    resize: none;
}