body{
    margin: 10px;
}








.maincenter{
    text-align: center;
}

.fontsize{
    font-size: 18px;
}

.inputgap{
    box-shadow: white;
    border: 0;
    font-size: 16px;
}

.mainfocus{
    font-weight: bolder;
    font-size: 16px;
}




.dotgap{
    text-align: center;
}


.undert{
    text-align: center;
}
.tokennum{
  border: 0ch;
  
    box-shadow: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.tokennum{
    width: 370px;
    height: 20px;
    resize: none;
}