body{
    height: 670px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.boxline{
    width: 100px;
}

.maincenter{
    text-align: center;
    font-size: 17px;
}

.fontsize{
    font-size: 20px;
}

.inputgap{
    box-shadow: white;
    border: 0;
    font-size: 17px;
}

.mainfocus{
    font-weight: bolder;
    font-size: 18px;
}




.dotgap{
    text-align: center;
}


.display{
    display: flex;
}

.undert{
    text-align: center;
}
.tokennum{
  border: 0ch;
  
    box-shadow: white;
   
    font-weight: bolder;
    text-align: center;
}
.tokennum{
    width: 580px;
    height: 38px;
    resize: none;
    font-size: 40px;
}
.leftside{
    margin-left: 60px;
    font-size: 20px;
}