body{
    height: 650px;
    width: 288px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.boxline{
    width: 100px;
}

.maincenter{
    text-align: center;
}

.fontsize{
    font-size: 20px;
}

.inputgap{
    box-shadow: white;
    border: 0;
    font-size: 18px;
}

.mainfocus{
    font-weight: bolder;
    font-size: 18px;
}




.dotgap{
    text-align: center;
}


.display{
    display: flex;
}

.undert{
    text-align: center;
}
.tokennum{
  border: 0ch;
  
    box-shadow: white;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
}
.tokennum{
    width: 400px;
    height: 33px;
    resize: none;
}