body{
    margin: 20px;
}

.boxline{
    width: 140px;
}

.dnboxline{
    width: 200px;
}

.maincenter{
    text-align: center;
    font-size: 28px;
}

.fontsize{
    font-size: 28px;
}

.inputgap{
    box-shadow: white;
    border: 0;
    font-size: 28px;
}

.mainfocus{
    font-weight: bolder;
    font-size: 28px;
}

.menu{
    font-size: 28px;
}


.dotgap{
    text-align: center;
}


.display{
    display: flex;
}

.undert{
    text-align: center;
}
.tokennum{
  border: 0ch;
  
    box-shadow: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.tokennum{
    width: 540px;
    height: 60px;
    resize: none;
    margin-right: 30px;
}
.leftside{
    width: 300px;
    padding-left: 110px;
 
}